body {
  background-color: black;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box:before {
  content: "⭐";
}
.box:after {
  content: "⭐";
}
.box-one {
  padding: 50px;
  display: grid;
  grid-template-columns: 15vw 15vw 15vw;
  gap: 10px;
}

.box {
  background-color: white;
  border-radius: 7px;
  font-size: 150%;
  padding: 25px;
  text-align: center;
}

.box-two {
  padding: 50px;
  display: grid;
  grid-template-columns: 15vw 15vw 15vw;
  gap: 10px;
}

.box-two .box {
  background-color: blanchedalmond;
}
.box-two .B {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
}
.box-two .F {
  grid-column-start: 1;
  grid-column-end: 4;
}

.box-three {
  padding: 50px;
  display: grid;
  grid-template-columns: 15vw 15vw 15vw;
  gap: 10px;
}

.box-three .box {
  background-color: aquamarine;
}

.box-three .B {
  grid-column: 2;
  grid-row: 1/4;
}

.box-three .F {
  grid-column: 1/4;
  grid-row: 2;
}

.box-four {
  padding: 50px;
  display: grid;
  grid-template-columns: 15vw 15vw 15vw;
  gap: 10px;
  .box {
    background-color: rgb(136, 101, 101);
  }
}

.box-four .A {
  grid-area: 1/1/3/2;
}

.box-four .F {
  grid-area: 3/1/3/4;
}

.box-five {
  padding: 50px;
  display: grid;
  grid-template-columns: 15vw 15vw 15vw;
  gap: 10px;
  .box {
    background-color: rgb(111, 136, 101);
  }
}

.box-five .A {
  grid-row: 1;
  grid-column: 1/3;
}
.box-five .B {
  grid-column: 3;
  grid-row: 1/4;
}
.box-five .C {
  grid-column: 2;
  grid-row: 2;
}

.box-six {
  padding: 50px;
  display: grid;
  grid-template-columns: 15vw 15vw 15vw;
  gap: 10px;
  .box {
    background-color: rgb(194, 86, 167);
  }
}

.box-six .A {
  grid-column: span 2;
}
.box-six .B {
  grid-row: span 3;
}
.box-six .C {
  grid-column: span 2;
}
.box-six .F {
  grid-column: 2 / span 2;
}
.box-six .D {
  grid-row: span 2;
}

.box-seven {
  padding: 50px;
  display: grid;

  grid-template-columns: [l] 15vw [c1] 15vw [c2] 15vw [r];
  gap: 10px;
  .box {
    background-color: rgb(194, 189, 86);
  }
}

.box-seven .A {
  grid-column: l / r;
}
.box-seven .F {
  grid-column: c1 / r;
}

.box-eight {
  padding: 50px;
  display: grid;

  grid-template-columns: repeat(3, [col] 15vw);
  grid-template-rows: repeat(4, [rows] auto);
  gap: 10px;
  .box {
    background-color: rgb(61, 46, 56);
  }
}

.box-eight .A {
  grid-column: col / span 2;
}
.box-eight .B {
  grid-column: col 3;
  grid-row: rows 1 / rows 4;
}
